body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*-----------------------------------*/
#user-info{
	top: 0;
	position: sticky;
	z-index: 2;
}
.nav-bar{
	top: 0;
	position: sticky;
	z-index: 2; /*bleibt immer oben am rand über allem*/
	/*padding hier ändern verkleinert navbar Bereich*/
}
.navbar-nav{
	float: right;
	text-align: right;
	/*backroung farbe hier verändern=NUR hintergrund der schrift*/
}
.navbar-brand img{
	height: 3em; /*logo*/
}
.bnt{
	padding: 0.2em 1em 0.2em 1em;
	border-radius: 3em;
	border: 2px solid #A4A4A4;
	background: transparent;
	color: #A4A4A4;
}
.bnt:hover{
border: 2px solid #A4A4A4 !important;
	background: #A4A4A4 !important;
	transition: 0.6s;
	color: #EFEFFB;
}
/*-------------------------------------------*/
#header{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/header.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: relative;
	opacity: 0.9;
}

.user-box{
top:60%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
opacity:1;
color: white;
font-weight: bold;
}
.user-box h1{
	padding-bottom: 20px;
}
.user-box h2{
	padding-top: 20px;
}
/*--------------------------------*/
#mitte{
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/logo.jpeg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index:1;
}
.about{
	padding-top: 100px;
	padding-bottom: 50px;
}

.main{
	padding-top: 50px; /*klebt sonst oben am foto*/
	padding-bottom: 30px;
	background: #f9f9f9; /*hintergrund "kasten" mit farbe abgegrenzt*/
}

.main h3{
	margin-bottom: 50px;
}